<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Fashi Template">
    <meta name="keywords" content="Fashi, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title - babyshop</title>
    @Styles.Render("~/bundles/css")
      

</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/js")
</body>
</html>
